@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&display=swap');
body{
    margin: 0%;
    padding: 0%;
    width: 305px;
    text-align: center;
    font-size: 17px;
    background-image: linear-gradient(189deg, #fafcff 18%, rgb(37, 36, 36) 18%) ;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 11px;
}
::-webkit-scrollbar:horizontal {
    height: 11px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; 
    background-color: rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
}
.heading{
    text-decoration: none;
    color: black;
    margin-top: 1%;
    padding-top: 0%;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}
.head-image{
    width: 28px;
    margin-right: 2%;
}
.hashtags{
    display: flex;
    justify-content: center;
}
.hashtags > p{
    margin-top: 5px;
    padding-left:10px ;
    font-family: 'Cormorant', serif;
    cursor: pointer;
    text-decoration: underline;
}
.style-icon {
    height: auto;
    width: 150%;
}
.style-titleBox{
    padding-bottom: 8px;
    border-bottom: 1px solid white;
    border-radius: 5%;
}
.style-time{
    font-size: 14px;
}
.style-title{
    font-weight: bold,
}
.style-Button{
    font-size: 14px !important;
}
